<section class="bg-gray-50">
  <div
    class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0"
  >
    <div class="flex items-center mb-6 text-2xl font-semibold text-gray-900">
      <img class="w-8 h-8 mr-2" src="assets/expense_tracker.png" alt="logo" />
      <span
        class="text-3xl font-extrabold text-transparent bg-clip-text bg-gradient-to-r from-cyan-600 to-blue-600 dark:from-cyan-500 dark:to-blue-700"
      >
        Expense Tracker
      </span>
    </div>
    <div
      class="w-full bg-white rounded-lg shadow-lg md:mt-0 sm:max-w-md xl:p-0"
    >
      <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
        <h1
          class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl"
        >
          Log in to your account
        </h1>
        <form
          class="space-y-4 md:space-y-6"
          [formGroup]="loginForm"
          (ngSubmit)="logIn()"
        >
          <div>
            <mat-form-field class="custom-form-field">
              <mat-label>Your email</mat-label>
              <input
                type="email"
                matInput
                formControlName="email"
                placeholder="name@company.com"
              />
              <mat-hint>Errors appear instantly!</mat-hint>
              <mat-error
                *ngIf="
                  loginForm.hasError('email') && !loginForm.hasError('required')
                "
              >
                Please enter a valid email address
              </mat-error>
              <mat-error *ngIf="loginForm.hasError('required')">
                Email is <strong>required</strong>
              </mat-error>
            </mat-form-field>

            <label
              for="email"
              class="block mb-2 text-sm font-medium text-gray-900"
              >Your email</label
            >
            <input
              type="email"
              name="email"
              id="email"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5"
              placeholder="name@company.com"
              formControlName="email"
            />
          </div>
          <div>
            <label
              for="password"
              class="block mb-2 text-sm font-medium text-gray-900"
              >Password</label
            >
            <input
              type="password"
              name="password"
              id="password"
              placeholder="••••••••"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5"
              formControlName="password"
            />
          </div>

          <div class="flex items-start">
            <div class="flex items-center h-5">
              <input
                id="terms"
                aria-describedby="terms"
                type="checkbox"
                class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-primary-300"
                required=""
              />
            </div>
            <div class="ml-3 text-sm">
              <label for="terms" class="font-light text-gray-500"
                >I accept the
                <a class="font-medium text-primary-600 hover:underline" href="#"
                  >Terms and Conditions</a
                ></label
              >
            </div>
          </div>

          <div class="flex justify-center mt-4">
            <button
              mat-raised-button
              class="custom-raised-button"
              [disabled]="!loginForm.valid"
            >
              Log In
            </button>
          </div>

          <p class="text-sm font-light text-gray-500">
            Don't have an account?
            <button
              (click)="navigateToLogin()"
              class="font-medium text-primary-600 hover:underline bg-transparent border-none cursor-pointer"
            >
              Register here
            </button>
          </p>
        </form>
      </div>
    </div>
  </div>
</section>
