<section class="bg-gray-50">
  <div
    class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0"
  >
    <div class="flex items-center mb-6 text-2xl font-semibold text-gray-900">
      <img class="w-8 h-8 mr-2" src="assets/expense_tracker.png" alt="logo" />
      <span
        class="text-3xl font-extrabold text-transparent bg-clip-text bg-gradient-to-r from-cyan-600 to-blue-600 dark:from-cyan-300 dark:to-blue-500"
      >
        Expense Tracker
      </span>
    </div>
    <div
      class="w-full bg-white rounded-lg shadow-lg md:mt-0 sm:max-w-md xl:p-0"
    >
      <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
        <h1
          class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl"
        >
          Log in to your account
        </h1>
        <form
          class="space-y-4 md:space-y-6"
          [formGroup]="loginForm"
          (ngSubmit)="logIn()"
        >
          <ng-container>
            <mat-form-field class="w-full" appearance="outline">
              <mat-label>Email</mat-label>
              <input
                type="email"
                matInput
                formControlName="email"
                placeholder="Ex. pat@example.com"
              />
            </mat-form-field>
            @if (loginForm.get('email')?.invalid &&
            loginForm.get('email')?.touched){
            <ng-container>
              @if (loginForm.get('email')?.hasError('required')){
              <span class="text-red-500 text-xs">
                Email is <strong>required</strong> </span
              >} @else if(loginForm.get('email')?.hasError('email')){

              <span class="text-red-500 text-xs">
                Please enter a valid email address
              </span>
              } </ng-container
            >}
          </ng-container>
          <ng-container>
            <mat-form-field class="w-full" appearance="outline">
              <mat-label>Password</mat-label>
              <input
                type="password"
                matInput
                formControlName="password"
                placeholder="••••••••"
                [type]="hide() ? 'password' : 'text'"
              />
              <button
                mat-icon-button
                matSuffix
                (click)="clickEvent($event)"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide()"
              >
                <mat-icon class="pass-icon">{{
                  hide() ? "visibility_off" : "visibility"
                }}</mat-icon>
              </button>
            </mat-form-field>
            @if (loginForm.get('password')?.invalid &&
            loginForm.get('password')?.touched){

            <ng-container>
              @if(loginForm.get('password')?.hasError('required')){

              <span class="text-red-500 text-xs">
                Password is <strong>required</strong>
              </span>
              }
            </ng-container>
            }
          </ng-container>

          <div class="flex items-start">
            <div class="flex items-center h-5">
              <input
                id="terms"
                aria-describedby="terms"
                type="checkbox"
                class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-primary-300"
                required=""
              />
            </div>
            <div class="ml-3 text-sm">
              <label for="terms" class="font-light text-gray-500"
                >I accept the
                <a class="font-medium text-primary-600 hover:underline" href="#"
                  >Terms and Conditions</a
                ></label
              >
            </div>
          </div>

          <div class="flex justify-center mt-4">
            <button
              mat-raised-button
              class="custom-raised-button"
              [disabled]="!loginForm.valid"
            >
              Log In
            </button>
          </div>

          <p class="text-sm font-light text-gray-500">
            Don't have an account?
            <button
              (click)="navigateToRegister()"
              class="font-medium text-primary-600 hover:underline bg-transparent border-none cursor-pointer"
            >
              Register here
            </button>
          </p>
        </form>
      </div>
    </div>
  </div>
</section>
<ngx-spinner color="#fff" type="timer" size="medium"
  ><p style="color: white">Loading...</p></ngx-spinner
>
