<section class="flex justify-around">
  <section>
    <div
      class="w-96 max-w-md mb-6 p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-6 dark:bg-gray-800 dark:border-gray-700"
    >
      <div class="flex items-center justify-between mb-4">
        <p class="text-base font-bold text-gray-900 dark:text-white">Income</p>
        <i
          class="fas fa-arrow-trend-up text-lg text-green-600 dark:text-green-400"
        ></i>
      </div>
      <div class="flex justify-between border-t-2 border-green-200">
        <p class="text-base text-gray-900 dark:text-white pt-3 sm:pt-3 pb-0">
          $300
        </p>
        <p class="text-base text-green-700 dark:text-white pt-3 sm:pt-3 pb-0">
          +5% from last month
        </p>
      </div>
    </div>

    <div
      class="w-96 max-w-md p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-6 dark:bg-gray-800 dark:border-gray-700"
    >
      <div class="flex items-center justify-between mb-4">
        <p class="text-base font-bold text-gray-900 dark:text-white">Expense</p>
        <i
          class="fas fa-arrow-trend-down text-lg text-red-600 dark:text-red-400"
        ></i>
      </div>
      <div class="flex justify-between border-t-2 border-red-200">
        <p class="text-base text-gray-900 dark:text-white pt-3 sm:pt-3 pb-0">
          $130
        </p>
        <p class="text-base text-red-700 dark:text-white pt-3 sm:pt-3 pb-0">
          -3% from last month
        </p>
      </div>
    </div>
  </section>
  <section class="w-1/2">
    <ul
      class="hidden text-sm font-medium text-center text-gray-500 rounded-lg shadow sm:flex dark:divide-gray-700 dark:text-gray-400"
    >
      <li class="w-full focus-within:z-10">
        <p
          class="inline-block w-full hover:cursor-pointer hover:bg-gray-100 p-2 text-gray-900 bg-gray-50 border-r border-gray-200 dark:border-gray-700 rounded-s-lg focus:ring-4 focus:ring-blue-300 active focus:outline-none dark:bg-gray-700 dark:text-white"
          [ngClass]="activeIncomeTab == true ? 'bg-gray-200' : ''"
          (click)="incomeTab()"
        >
          Income
        </p>
      </li>
      <li class="w-full focus-within:z-10">
        <p
          class="inline-block w-full hover:cursor-pointer hover:bg-gray-100 p-2 text-gray-900 bg-gray-50 border-r border-gray-200 dark:border-gray-700 rounded-s-lg focus:ring-4 focus:ring-blue-300 active focus:outline-none dark:bg-gray-700 dark:text-white"
          [ngClass]="activeExpenseTab == true ? 'bg-gray-200' : ''"
          (click)="expenseTab()"
        >
          Expense
        </p>
      </li>
    </ul>
    <div *ngIf="activeIncomeTab || activeExpenseTab" class="dark:bg-gray-800">
      <echarts
        [options]="chartOptions"
        [theme]="theme"
        class="flex justify-center"
        style="height: 350px"
      ></echarts>
    </div>
  </section>
</section>

<section class="mt-14 mx-28 flex justify-between">
  <div class="w-full">
    <p class="text-lg font-bold text-gray-900 dark:text-white">
      Financial Insights
    </p>
    <echarts
      [options]="barChartOption"
      [theme]="theme"
      class="flex justify-center"
      style="height: 350px"
    ></echarts>
  </div>
  <div>
    <mat-form-field appearance="outline">
      <mat-label>Select timeframe</mat-label>
      <select
        matNativeControl
        [(ngModel)]="selectedTime"
        (change)="updateBarChart()"
      >
        <option value="week" selected>Weekly</option>
        <option value="month">Monthly</option>
      </select>
    </mat-form-field>
  </div>
</section>
