<mat-form-field
  color="accent"
  appearance="outline"
  class="d-block month-picker-main"
>
  <mat-label>Pick A Date</mat-label>
  <input
    name=""
    matInput
    [matDatepicker]="picker2"
    [formControlName]="controlName"
  />

  <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
  <mat-datepicker
    #picker2
    startView="multi-year"
    (monthSelected)="setMonthAndYear($event, picker2)"
  ></mat-datepicker>
</mat-form-field>
<div
  class="text-red-600 font-bold text-sm"
  *ngIf="((formName?.get(controlName)?.touched ||
    formName?.get(controlName)?.dirty) &&
      !formName?.get(controlName)?.valid) && formName?.get(controlName)?.errors?.['required']"
>
  {{ placeholder }} is required
</div>
